body {
    background: f1fbff !important;
}
.section-padding {
    padding: 100px 0 !important;
}
.carousel-item {
    height: 100vh !important;
    min-height: 300PX !important;
}
.carousel-caption {
    bottom: 220px !important;
    z-index: 2 !important;
}
.carousel-caption h5 {
    text-align: center;
    font-size: 40px !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    margin-top: 25px !important;
}
.carousel-caption p {
    width: 60% !important;
    margin: auto !important;
    font-size: 18px !important;
    line-height: 1.9 !important;
}
.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.card-body p{
    font-size: 15px;
}
.navbar-nav a {
    font-size: 15px;

    font-weight: 500;
}
.navbar-light .navbar-brand {
    color: rgb(14, 13, 13);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgb(0, 0, 0);
}
.navbar-light .navbar-nav .navbar-link {
    color: black;
}
.w-100 {
    height: 100vh;
}
.services .card-body i {
    font-size: 50px !important;
}

.team .card-body i {
    font-size: 20px !important;
    font-weight: 1500 !important;
}

.portfolio .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15) !important;

}

.team .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15) !important;

}





@media only screen and (min-width: 768px) and (max-width:991px) {
    .carousel-caption {
        bottom: 370px;
    }

    .carousel-caption p {
        width: 100%;
    }

    .card {
        margin-bottom: 30px;
    }

    .img-area img {
        width: 100%;
    }
}

@media only screen and (max-width:767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption {
        bottom: 125px;
    }

    .carousel-caption {
        font-size: 17px;
    }

    .carousel-caption a {
        padding: 10px 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12;

    }

    .about-text {
        padding-top: 50px;
    }

    .card {
        margin-bottom: 30px;
    }
}
.crd-links a{text-decoration: none;}